ansible/inventory
ansible/test.yml
ansible/roles/*
!ansible/roles/.gitkeep
drafts
.secrets
packer/*/manifest.json
packer/*/*-manifest.json
vendor/restic/*
!vendor/restic/.gitkeep
vendor/terraform/*
!vendor/terraform/.gitkeep
vendor/packer/*
!vendor/packer/.gitkeep
.manage_modules
*.dll
*.exe
.DS_Store
example.tf
.terraform.tfstate.lock.info
terraform.tfplan
terraform.tfstate
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.iml
