drafts
.secrets
packer/*/manifest.json
packer/*/*-manifest.json
vendor/terraform/*
!vendor/terraform/.gitkeep
vendor/packer/*
!vendor/packer/.gitkeep
.manage_modules
*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.iml
