sudo: required
language: python
python:
- '3.6'
addons:
  apt:
    packages:
    - bc
services:
- docker
env:
  global:
  - JQ_BINARY="https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64"
  - PATH="/usr/bin:$PATH"
  - AWS_DEFAULT_REGION="us-west-2"
  - TF_VAR_BUILD_NUMBER=${TRAVIS_JOB_NUMBER/./-}
  - secure: GBTo9IB6eDxA3pHpvt+kuKzxr92HmBrPwPqh+YXH7YqtqzwPhekC5jNOWjPogZG5KFLMcsJGtAgqxye33ICyeWKWR4y4q6obIOmq4f984QYBHHmv/Ll0ZwtaD3hy6E9mP8kteazawM+xgipQWE2wMKIUysMTpgqWGVWXqFoeApHCyG8MTJJ4N9Re8D+MuwXJigLZjWqcBbpvSPlCC1qa4cZ2fIxDBl5PdS92ZjUGyN11thDDmF67RFC49r/h6pycHRBG7N/5MQ69XWNZ8ZyBZtdRWooic8wc8sIpo0d/KCQJkTMi1LNs7RxVNo7KYI+Oky/r1B2mMT8gSCzS2wBm2HNl1sJVvYs6X2FAeEHj5SOYLsZMBm0HbHM3m61WZe7SJADWQ9nuddVR3UrFhw+j06gnBstKOdJXtsgxA3A0Nq42NJa8BxM3++FxQgm4OU2reRzW0gVEHFKiz6sNCGwSmcxJxphEK3E0sYKXKPWD2kMn1ERdTfgVrDrLmcby+77m4GXM5kiWJnZ2C5RHUY8ZueIEILHsDgj9VqF955smV/w1sugaJHitUjYyJ/UpD4+Yl0NeSnKb7ljm/9ZvgpHRsPlMGxiSi5y3zeqbf8XTwvJX8C9prLCh1S/lHffu+PERax/Dfa5vwKNJmKalKOJcC6vm4NsCTze/gr/PV6qGOmU=
  - secure: WdM7ZZD+t5/7LUsdGRbj9HalzlpS+n3GsPntU7xzXpQ79vZOlBGqry8OZWo17ES9wINzT3//2g9UyA/ok4vHgj/d93RBw+BSpCohYR4MOgcwpXqq3IF5eRtU5vsTV31ukOlMfSW5epqXF6qvs9B0bA1OYN2EB7F4r/gX2tvAM7mPERXrZ2QGTyz7L+LhiZMQD0G9ARNvycr5K/Qewdi1kkeoyO3zLHvysoXEWy/0E9CdeWr8Matt6QkG1e8cW/AZt0ms/Q70glhif7P8uMVU26rHQ6howTxmU4Sg8ZHMWoNf1z3FJWfjgfe+sq4fyssAQSY5oK0HyvnCe2hF4aTMCZcsZHtzUwpSDtgcHs328PGGr0Q0dg6dMpuCMBNd3P85XyhvBEl7QI4ccc50pW4+szokCSZqai9bPM9n8KCB0ebQUw4+byltEDf1rrXqWfYtDHxfDReePcxNTAM1hmsMvaT+uRa4cJH9XlKWsd8I/LzpV8GX9qtpBw+zct92WP2a9FN+6EaTHwW0edU8GvDnIpD8QOJcYrRBmXtUnBTLiJaa/QrA43YsyN9agr83QkOg/0liX9lQWyXodlr5yXnM99HO/lerCOjP1bszAHsj+0E369WrPx7FGrKOxBZCsMDVIyMGelBJeffYW4jnvdbD7HK/er90u8aMhqmxrmggP6M=
  - secure: g4wcrPJnZvEut272iau/AjW1k56D20CkJMEwvtrDHgZSi0Rh+TcfVIGvA5F4L5JkB+JG7Iygp/2iDDMgsidmdW0NaRJfU+rvwqbOIAzgLiL4dqIzq3Yej6aVbOQ1hSr8HnLbwMkn8bGxgFPdr7k6A9+o/su7NZuFWIXHLGDccbtZ/7uj5tmagTaW3WCGPZHR8Kf32LtU/rm7zh6wk8fw3/hZyUg3GolR/Q5Rmf0tzaWUsYeRzegTlDi2k5zQoYepl7JJQVoFOAnUsX4/d6k3hLgckb9ZoEnuHm0BfC+/lP/HIxLZ1NCo6TEDt4/b3Xlq0qKQCYghrJ4xaSg0NJZs/LRoDGk7JpyXmzI8Kw55MSCE59fvZrokTh59TSSB61eKkXvcEXpekEHVIE4zoduGAFtN9nYa3sx1wVTwBq42gdmH12VnowhTxLiZPfl9fLM7Rcm5jja7Aei+AkvZ0gFijPC1w4AiWrLJfGucpmE1TkwK8+ZItZ6LijuG2ZzhyTYPjUEkLA0+7vzbhXtnX+aZvXjO0faOMJT687fzKeIHms9n59P/4aa7U2R/sDw5ua2gpzV0NIJqociPgpR1WxFL4Toij++//CkennW8RFvak1ivxo85CC0EzcgmfVzbHgF5fA64BraCcV6jFDbGR1Tqw9ngMZVatvUeyZV5m0KYIec=
  - secure: nea7ZeMjexMsJEgLz42ms1mg929HHC1eS8cKZXQKqyIuWE1uJFNSAt/wY+heMINYgwfdmjcp+mBTcAA55/0dEkT1eqfRNX725uZdG9dOk9mOdPz1s0KWvp7iu2OakCHxhC5cQe2ddvVTiyq5dADYPzdfUM4rJt0o7DoOpBYSY9BaKXxioJb8vK8jXDofx/1qFql+snblawARUXdQTgOiTQx3/FCmYAIWLh/CboWeNKbWH8bGo+pnnNFkH4WcpxSeRL4wLZz3bkJnTb3sDb5NL3BTgSze44ZUEReXU3b1p6LP1uyBp/o5xGgYEGGYIbQsEORjASaFjJ8IKd8yxJizIIhubpHWotVp73+oeTzbsLzHhbtzMe/BMdsJHulS0xGxgfEE5fMswIKL6aShKm4+kkOrfIewhNvIxGBEi3dAQH71VOjvkxlozX9q+8wOGNZ7ETfq1gwO/+ceF8vrVcU0mfciMoMHiyWVNsz+ZL0nBGdTkaFVA0mgrxre3XyulISgoxVsleSsRtH0yJp+XkPeGOtN2jn6jyk9FmwzAINX6pOcUAWWlBZshcvVDKU4bPRc9PZh16bcauvxkdd6YxMba4mUK+OXggbR2fVATa/B+uUsuRCmcEODFcG/LvE8djF20ch65HzOIYDg9z0eEPGZGEoruySxiNSGAo6VRF4mqqo=
before_install:
- pip install ansible==2.4.0.0 awscli --upgrade
- sudo apt-get update -qq
- sudo apt-get install -y -o Dpkg::Options::="--force-confnew" docker-ce
- gpg --keyserver ha.pool.sks-keyservers.net --recv-key 13F26F82E955B8B8CE469054F29CCEBC83FD4525
- mkdir -p ~/bin && curl -sSL -o ~/bin/jq $JQ_BINARY && chmod +x ~/bin/jq
- export PATH=$PATH:~/bin
- "./manage download-terraform"
- "./manage download-packer"
- "./manage download-restic"
matrix:
  include:
  - env: NAME="packet/device"
    script: "./manage test-terraform $NAME"
  - env: NAME="aws/fastmail"
    script: "./manage test-terraform $NAME"
  - env: NAME="aws/vpc"
    script: "./manage test-terraform $NAME"
  - env: NAME="aws/secure-store"
    script: "./manage test-terraform $NAME"
  - env: NAME="workstation/amazon-ebs"
    script: "./manage test-packer $NAME"
